@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="container">
    <h1 class="warning">Error.</h1>
    <h2 class="warning">An error occurred while processing your request.</h2>
</hgroup>
