@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


Example
<div class="btn-group">
   <a class="btn btn-primary" href="#"><i class="glyphicon-home"></i> User</a>
   <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
   <ul class="dropdown-menu">
       
        <li><a href="#"><i class="glyphicon-envelope"></i> Edit</a></li>
       
        <li><a href="#"><i class="glyphicon-sd-video"></i> Delete</a></li>
       
        <li><a href="#"><i class="glyphicon-retweet"></i> Ban</a></li>
       
        <li class="divider"></li>
        
        <li><a href="#"><i class="glyphicon-step-backward"></i> Make admin</a></li>
        
    </ul>
    
</div>




